<form action="{{ path("security_login") }}" method="post">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}" />

    <div class="form-group">
        <input
                type="text"
                id="username"
                name="_username"
                value="{{ last_username }}"
                required="required"
                class="form-control"
                autocomplete="off"
                placeholder="{{ 'login.username'|trans({},'security') }}"/>
    </div>
    <div class="form-group">
        <input
                type="password"
                id="password"
                name="_password"
                required="required"
                class="form-control"
                placeholder="{{ 'login.password'|trans({},'security') }}" />
    </div>
    <button type="submit" id="_submit" name="_submit" class="btn btn-login">
        {{ 'login.submit'|trans({},'security') }}
    </button>
</form>