{% if is_granted('ROLE_EDIT_CONSOMMATION',cconsommation) %}
<a class="btn btn-sm btn-default btn-action" href="{{ path('native.admin.consommation.edit',{
    'slug' : cconsommation.slug
}) }}">
    {{ 'edit.title'|trans }}
    <i class="fa fa-edit" aria-hidden="true"></i>
</a>
{% endif %}
{% if is_granted('ROLE_DELETE_CONSOMMATION',cconsommation) %}
<a class="btn btn-sm btn-danger btn-action" data-toggle="modal" data-target="#modal_delete_cconsommation_{{ cconsommation.id }}">
    {{ 'delete.title'|trans }}
    <i class="fa fa-trash" aria-hidden="true"></i>
</a>
<div class="modal fade" id="modal_delete_cconsommation_{{ cconsommation.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_delete_cconsommation_{{ cconsommation.id }}Title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100 font-weight-bold" id="modal_delete_cconsommation_{{ cconsommation.id }}Title">
                    {{ 'app.cconsommation.delete.modal.header'|trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'close'|trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% set delete_form = form_delete(cconsommation.id,'native.admin.consommation.delete') %}
            {{ form_start(delete_form) }}
            <div class="modal-body mx-3">
                {{ confirm_delete('app.cconsommation.delete.modal.entity' | trans({},'messages'), '') }}
                {{ form_widget(delete_form) }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger">{{ 'accept'|trans({},'messages') }}</button>
                <button class="btn btn-sm btn-default" data-dismiss="modal">{{ 'refuse'|trans({},'messages') }}</button>
            </div>
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
{% endif %}