<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary btn-sm pt-0 pb-0" data-toggle="modal" data-target="#actionsUserModal{{ user.id }}">
    <i class="fa fa-cog"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="actionsUserModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="actionsUserModalLabel{{ user.id }}" aria-hidden="true">
    <div class="modal-dialog modal-frame modal-top" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actionsUserModalLabel{{ user.id }}">
                    {{ user.nom }} {{ user.prenom }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'close'|trans|ucfirst }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-sm btn-primary btn-action" href="{{ path('native.admin.affectation.add',{
                                'slug' : user.slug
                            }) }}">
                                {{ 'app.user.mute.title'|trans }}
                                <i class="fa fa-rotate-270" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-sm btn-primary btn-action" href="{{ path('native.admin.situation.add',{
                                'slug' : user.slug
                            }) }}">
                                {{ 'app.user.situate.title'|trans }}
                                <i class="fa fa-rotate-270" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-sm btn-primary btn-action" href="{{ path('native.admin.cadrage.add',{
                                'slug' : user.slug
                            }) }}">
                                {{ 'app.user.cadrate.title'|trans }}
                                <i class="fa fa-rotate-270" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-sm btn-primary btn-action" href="{{ path('native.admin.classement.add',{
                                'slug' : user.slug
                            }) }}">
                                {{ 'app.user.classify.title'|trans }}
                                <i class="fa fa-rotate-270" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-sm btn-default btn-action" href="{{ path('native.admin.user.edit',{
                                'slug' : user.slug
                            }) }}">
                                {{ 'edit.title'|trans }}
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">{{ 'close'|trans|ucfirst }}</button>
            </div>
        </div>
    </div>
</div>