{% extends 'Global/base.html.twig' %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('build/css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/chosen.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.9.1/css/froala_editor.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-primary btn-rounded" href="{{ path('native.admin.intervention.externe.add') }}">
                    <i class="fa fa-plus"></i>
                    {{ 'app.intervention.add'|trans }}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ sg_datatables_render(datatable) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('build/js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.9.1/js/froala_editor.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.9.1/js/languages/fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.9.1/js/plugins/lists.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/bootstrap-typeahead.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#intervention_externe_form_users').chosen();
            $('#intervention_externe_form_date').datetimepicker({
                locale: 'fr',
                format: 'L'
            });
        })
    </script>
    <script type="text/javascript" src="{{ asset('build/js/jquery.form.min.js') }}"></script>
    <script>
        $(document).ready(function () {

            $(document).on('submit', '[name="intervention_externe_form"]', function(e){
                e.preventDefault();

                $form = $(e.target);
                // modal = $('#modal_create_intervention');
                modal = $form.closest("div.modal");

                var title = $('#intervention_externe_form_date').val();

                var $submitButton = $form.find(':submit');
                $submitButton.html('<i class="fa fa-spinner fa-pulse"></i>');
                $submitButton.prop('disabled', true);

                $form.ajaxSubmit({
                    type: 'post',
                    success: function(data) {
                        if (data == 'ok') {
                            $('ul').append('<li>' + title + '</li>');
                            modal.modal('toggle');
                        } else {
                            modal.find('.modal-body').html(data);
                            window.location = "{{ path('native.admin.intervention.externe.index') }}";
                        }
                    },
                    error: function(jqXHR, status, error) {
                        $submitButton.html(button.data('label'));
                        /*$submitButton.prop('disabled', false);*/
                    }
                });
            });
        });
    </script>
{% endblock %}
