<div class="card">
    <h5 class="card-header light-blue lighten-1 white-text text-uppercase text-center">
        <i class="lnr lnr-license"></i>
        {% if edit is not defined %}
        {{ 'app.patrimoine.add'|trans }}
        {% else %}
            {{ 'app.patrimoine.edit.modal.header'|trans }}
        {% endif %}
    </h5>
    {{ form_start(form, {
        'attr':{
            'class' : 'form form-horizontal form-bordered'
        }
    }) }}
    <div class="card-content collpase show">
        <div class="card-body px-lg-5 pt-0">
            <div class="form-row">
                <div class="col">
                    <div class="md-form">
                        {{ form_widget(form.date,{
                            'attr' : {
                                'class' : 'form-control'
                            }
                        }) }}
                        {{ form_label(form.date) }}
                    </div>
                </div>
            </div>
            <hr>
            {{ form_widget(form.inventaires) }}
        </div>
        <div class="card-footer">
            <button class="btn btn-success btn-rounded mb-4 float-right">
                {{ 'save.title'|trans }}
            </button>
        </div>
    </div>
    {{ form_end(form) }}
</div>