{% extends 'Global/base.html.twig' %}
{% set consommations = user.getConsommationCounter() %}
{% set valides = user.getCongesValides() %}
{% block body %}
    <div class="container">
        <div class="row mb-2 pb-2">
            <div class="col-3">
                {{ user | nom_prenom }} {{ user.username }}
            </div>
            <div class="col-8">
                {{ 'app.user.show.tabs.base.fields.period_embauche' | trans }} : {{ user | periode_embauche(true) }}
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-secondary btn-sm pull-right" data-toggle="modal" data-target="#detailModal">
                    <i class="fa fa-eye-slash"></i>
                </button>
                <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-frame modal-top" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="detailModalLabel">
                                    {{ user | nom_prenom }} {{ user.username }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'close'|trans|ucfirst }}">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th scope="row">{{ 'app.user.show.tabs.base.fields.date_recrutement' | trans }}</th>
                                            <td>{{ user.daterecrutement | date('d/m/Y') }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{{ 'app.user.show.tabs.base.fields.statut'| trans }}</th>
                                            <td>{{ user.currentStatut.nom }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{{ 'app.user.show.tabs.base.fields.agence'| trans }}</th>
                                            <td>
                                                {% if user.currentAgence %}
                                                    {{ user.currentAgence.nom }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{{ 'app.user.show.tabs.base.fields.fonction'| trans }}</th>
                                            <td>
                                                {% if user.currentFonction %}
                                                    {{ user.currentFonction.nom }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">{{ 'app.user.show.tabs.base.fields.bureau'| trans }}</th>
                                            <td>
                                                {% if user.currentBureau %}
                                                    {{ user.currentBureau.nom }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">{{ 'close'|trans|ucfirst }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if valides is not empty %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ 'app.cconsommation.show.fields.modele'|trans }}</th>
                            <th>{{ 'app.cconsommation.show.fields.date.debut'|trans }}</th>
                            <th>{{ 'app.cconsommation.show.fields.date.fin'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for conge in valides %}
                            <tr>
                                <td>{{ conge.cmodele.nom }}</td>
                                <td>{{ conge.datedebut | localizeddate('long','none','fr') }}</td>
                                <td>{{ conge.getDatefin(conge.delaiaccorde) | localizeddate('long','none','fr') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-8 mb-4">

                <table class="table table-hover">
                    <tbody>
                        {% for modele in modeles %}
                            <tr>
                                <td>
                                    <b>{{ modele.nom }}</b>
                                </td>
                                <td>
                                    <a class="btn btn-amber btn-sm" href="{{ path('native.admin.consommation.add',{
                                        'user':user.slug,
                                        'modele':modele.slug
                                    }) }}">
                                        {{ 'proceed'|trans }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="col-md-4 mb-4">
                {% if consommations is not empty %}
                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">{{ 'app.cconsommation.request.counter.title'|trans }}</span>
                </h4>


                <!-- Cart -->
                <ul class="list-group mb-3 z-depth-1">
                    {% for annee,jours in consommations %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">{{ annee }}</h6>
                            </div>
                            <span class="text-muted">{{ jours }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <!-- Cart -->
                {% endif %}
                <!-- Promo code -->
                {#<form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
                        </div>
                    </div>
                </form>#}
                <!-- Promo code -->

            </div>
        </div>
    </div>
{% endblock %}