{% extends 'Global/base.html.twig' %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('build/css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/chosen.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.9.1/css/froala_editor.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="offset-1 col-10">
                <div class="card">
                    <h5 class="card-header light-blue lighten-1 white-text text-uppercase text-center">
                        <i class="lnr lnr-license"></i>
                        {{ 'app.intervention.add'|trans }}
                    </h5>
                    <div class="card-content collpase show">
                        {{ form_start(form,{
                            'attr':{
                                'class' : 'form form-horizontal form-bordered'
                            }
                        }) }}
                        <div class="card-body px-lg-5 pt-0">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur deserunt enim error facere libero molestiae numquam reiciendis sapiente sequi tenetur!</p>
                            </div>

                            {% include 'Admin/Intervention/Interne/includes/_form.html.twig' %}

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success btn-rounded mb-4 float-right">
                                {{ 'save.title'|trans }}
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ asset('build/js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.9.1/js/froala_editor.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.9.1/js/languages/fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.9.1/js/plugins/lists.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/bootstrap-typeahead.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#intervention_interne_form_bureaus').chosen();
            $('#intervention_interne_form_users').chosen();
            $('#intervention_interne_form_materielInformatiques').chosen();
            $('#intervention_interne_form_date').datetimepicker({
                locale: 'fr',
                format: 'L'
            });
        })
    </script>
{% endblock %}