{% extends 'Global/base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header light-blue lighten-1 white-text text-uppercase text-center">
                        {{ 'app.intervention.show.title'|trans }}
                    </h5>
                    <div class="card-body px-lg-5 pt-0">
                        <div class="table-responsive">
                            <table class="table table-hover record_properties">
                                <tbody>
                                <tr>
                                    <th scope="row">{{ 'app.intervention.show.fields.date'| trans }}</th>
                                    <td>{{ intervention.date | localizeddate('long','none','fr') }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{ 'app.intervention.show.fields.users'| trans }}</th>
                                    <td>
                                        {% for user in intervention.users %}
                                            {{ user | nom_prenom }}{% if not loop.last %},{% endif %}
                                        {% else %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{ 'app.intervention.show.fields.bureaus'| trans }}</th>
                                    <td>
                                        {% for bureau in intervention.bureaus %}
                                            {{ bureau.nom }}{% if not loop.last %},{% endif %}
                                        {% else %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{ 'app.intervention.show.fields.probleme'| trans }}</th>
                                    <td>{{ intervention.probleme }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{ 'app.intervention.show.fields.materiels'| trans }}</th>
                                    <td>
                                        {% for materiel in intervention.materielInformatiques %}
                                            {{ materiel.equipement.nom }} {{ materiel.marque.nom }}{% if not loop.last %},{% endif %}
                                        {% else %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{{ 'app.intervention.show.fields.solution'| trans }}</th>
                                    <td>{{ intervention.solution }}</td>
                                </tr>
                                {% if intervention.detail %}
                                    <tr>
                                        <th scope="row">{{ 'app.intervention.show.fields.detail'| trans }}</th>
                                        <td>{{ froala_display(intervention.detail) }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-sm btn-default btn-rounded pull-right" href="{{ path('native.admin.intervention.interne.edit',{
                            'slug':intervention.slug
                        }) }}">
                            {{ 'edit.title'| trans }}
                        </a>
                        <a class="btn btn-sm btn-danger btn-rounded" data-toggle="modal" data-target="#modal_delete_intervention_{{ intervention.id }}">
                            {{ 'delete.title'|trans }}
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        <div class="modal fade" id="modal_delete_intervention_{{ intervention.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_delete_intervention_{{ intervention.id }}Title" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h5 class="modal-title w-100 font-weight-bold" id="modal_delete_intervention_{{ intervention.id }}Title">
                                            {{ 'app.intervention.delete.modal.header'|trans }}
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'close'|trans }}">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% set delete_form = form_delete(intervention.id,'native.admin.intervention.interne.delete') %}
                                    {{ form_start(delete_form) }}
                                    <div class="modal-body mx-3">
                                        {{ confirm_delete('app.intervention.delete.modal.entity' | trans({},'messages'), '') }}
                                        {{ form_widget(delete_form) }}
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-sm btn-danger btn-rounded delete-link">{{ 'accept'|trans({},'messages') }}</button>
                                        <button class="btn btn-sm btn-default" data-dismiss="modal">{{ 'refuse'|trans({},'messages') }}</button>
                                    </div>
                                    {{ form_end(delete_form) }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}