{% extends 'Global/base.html.twig' %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('build/css/chosen.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#modal_create_direction">
                    <i class="fa fa-plus"></i>
                    {{ 'app.direction.add'|trans }}
                </button>
                <div class="modal fade" id="modal_create_direction" tabindex="-1" role="dialog" aria-labelledby="modal_create_directionTitle" aria-hidden="true">
                    <div class="modal-dialog modal-frame" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal_create_directionTitle">
                                    {{ 'app.direction.add'|trans }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {{ form_start(form,{
                                'attr':{
                                    'class' : 'form form-horizontal form-bordered'
                                }
                            }) }}

                            <div class="modal-body mx-3">
                                {% include 'Admin/Bureau/Childs/Direction/includes/_form.html.twig' %}
                            </div>
                            <div class="modal-footer d-flex">
                                <button class="btn btn-success btn-rounded mb-4 float-right">
                                    {{ 'save.title'|trans }}
                                </button>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ sg_datatables_render(datatable) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('build/js/jquery.form.min.js') }}"></script>
    <script src="{{ asset('build/js/chosen.jquery.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#direction_form_agences').chosen({

            });
            $('#direction_form_services').chosen({

            });
            $('#direction_form_departements').chosen({

            });

            $('#direction_form_direction').chosen({

            });

            $(document).on('submit', '[name="direction_form"]', function(e){
                e.preventDefault();

                $form = $(e.target);
                // modal = $('#modal_create_direction');
                modal = $form.closest("div.modal");

                var title = $('#direction_form_nom').val();

                var $submitButton = $form.find(':submit');
                $submitButton.html('<i class="fa fa-spinner fa-pulse"></i>');
                $submitButton.prop('disabled', true);

                $form.ajaxSubmit({
                    type: 'post',
                    success: function(data) {
                        if (data == 'ok') {
                            $('ul').append('<li>' + title + '</li>');
                            modal.modal('toggle');
                        } else {
                            modal.find('.modal-body').html(data);
                            window.location = "{{ path('native.admin.direction.index') }}";
                        }
                    },
                    error: function(jqXHR, status, error) {
                        $submitButton.html(button.data('label'));
                        /*$submitButton.prop('disabled', false);*/
                    }
                });
            });
        });
    </script>
{% endblock %}
