{% extends 'Global/base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header light-blue lighten-1 white-text text-uppercase text-center">
                        {{ 'app.direction.show.title'|trans({
                            '%direction%': direction.nom
                        }) }}
                    </h5>
                    <div class="card-body px-lg-5 pt-0">
                        <div class="table-responsive">
                            <table class="table table-hover record_properties">
                                <tbody>
                                <tr>
                                    <th scope="row">{{ 'app.direction.show.fields.nom'| trans }}</th>
                                    <td>{{ direction.nom }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{ 'app.direction.show.fields.telephone'| trans }}</th>
                                    <td>{{ direction.telephone }}</td>
                                </tr>
                                {% if direction.departements is not empty %}
                                    <tr>
                                        <th scope="row">{{ 'app.direction.show.fields.departements'| trans }}</th>
                                        <td>
                                            {% for departement in direction.departements %}
                                                {{ departement.nom }}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if direction.services is not empty %}
                                    <tr>
                                        <th scope="row">{{ 'app.direction.show.fields.services'| trans }}</th>
                                        <td>
                                            {% for service in direction.services %}
                                                {{ service.nom }}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if direction.agences is not empty %}
                                    <tr>
                                        <th scope="row">{{ 'app.direction.show.fields.agences'| trans }}</th>
                                        <td>
                                            {% for agence in direction.agences %}
                                                {{ agence.nom }}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-sm btn-default btn-rounded pull-right" href="{{ path('native.admin.direction.edit',{
                            'slug':direction.slug
                        }) }}">
                            {{ 'edit.title'| trans }}
                        </a>
                        <a class="btn btn-sm btn-danger btn-rounded" data-toggle="modal" data-target="#modal_delete_direction_{{ direction.id }}">
                            {{ 'delete.title'|trans }}
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        <div class="modal fade" id="modal_delete_direction_{{ direction.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_delete_direction_{{ direction.id }}Title" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h5 class="modal-title w-100 font-weight-bold" id="modal_delete_direction_{{ direction.id }}Title">
                                            {{ 'app.direction.delete.modal.header'|trans }}
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'close'|trans }}">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% set delete_form = form_delete(direction.id,'native.admin.direction.delete') %}
                                    {{ form_start(delete_form) }}
                                    <div class="modal-body mx-3">
                                        {{ confirm_delete('app.direction.delete.modal.entity' | trans({},'messages'), direction.nom) }}
                                        {{ form_widget(delete_form) }}
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-sm btn-danger btn-rounded delete-link">{{ 'accept'|trans({},'messages') }}</button>
                                        <button class="btn btn-sm btn-default" data-dismiss="modal">{{ 'refuse'|trans({},'messages') }}</button>
                                    </div>
                                    {{ form_end(delete_form) }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}