<div class="form-row">
    <div class="col">
        <div class="md-form">
            {{ form_widget(form.date,{
                'attr' : {
                    'class' : 'form-control',
                    'autocomplete' : 'off'
                }
            }) }}
            {{ form_label(form.date) }}
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            {{ form_label(form.categorie) }}
            {{ form_widget(form.categorie,{
                'attr' : {
                    'class' : 'form-control',
                    'data-placeholder' : 'app.cadrage.forms.fields.categorie.placeholder'|trans
                }
            }) }}
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <div class="form-group">
            {{ form_label(form.detail) }}
            {{ form_widget(form.detail) }}
        </div>
    </div>
</div>


